span {
    font-weight: bold;
    color: #4A7C59;
}
.nav-path {
    padding: 0 20%;
}
@media screen and (max-width: 1200px) {
    .nav-path {
        padding: 8px 10%;
    }
}
@media screen and (max-width: 992px) {
    .nav-path {
        padding: 8px 5%;
    }
}
@media screen and (max-width: 576px) {       
    .nav-path {
        padding: 5px 5%;
        font-size: 9pt;
    }  
}